.alert {
  position: absolute;
  top: 55;
  left: 0;
  right: 0;
  text-align: center;
}

.footer {
  background-color: #111;
}

h1 {
  color: rebeccapurple;
}

body {
  padding: 55px 0px 55px;
  overflow: auto;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
