<div class="card">
  <h1 class="card-header text-dark bg-light">Editing Category</h1>

  <%= render "form", category: @category %>
</div>

<%= show_text_link(@category) %>
<%= back_text_link(categories_path) %>