 <footer class="page-footer font-small  fixed-bottom">

     <!-- Copyright -->
     <div class="footer-copyright text-center text-dark py-3">
         &copy;The Inventory Management
     </div>
     <!-- Copyright -->

 </footer>
 <!-- Footer -->