 <footer class="page-footer font-small  fixed-bottom bg-dark">

     <!-- Copyright -->
     <div class="footer-copyright text-center text-light py-3">
         &copy;The Inventory Management
     </div>
     <!-- Copyright -->

 </footer>
 <!-- Footer -->