<%= stylesheet_link_tag "sidebar", media: "all" %>

<div class="sidenav">
    <%= link_to 'New article', new_article_path, class:  "btn btn-primary" %>
    <%= link_to 'New article', new_article_path, class:  "btn btn-primary" %>

    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
    <button class="dropdown-btn">Dropdown
        <i class="fa fa-caret-down"></i>
    </button>

    <a href="#contact">Search</a>
</div>